<h1>Nu jävlar har du skitit i det blå skåpet</h1>
<p>
	Någon är av den bestämda åsikten att du har klantat till det. Eller varit överjävlig.
	Du har förlorat {{ score.points }} poäng och får nu skämmas.
</p>
<h2>Vill du veta mer?</h2>
<p><a href="{{ path('app_detail', {score:score.id}) }}">Här kan du läsa mer om dina synder</a></p>