<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	<link rel="icon"
		  href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
	<style>
        body {
            background-color: #1e293b;
        }
	</style>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
<body class="dark:bg-slate-800 text-amber-50 font-sans">
<header >
	<a href="{{ path('app_home') }}" class="mx-4">Start</a>
	<a href="{{ path('app_scores') }}" class="mx-4">Alla påäng</a>

</header>
	<hr class="my-5">
{% block body %}{% endblock %}
</body>
</html>
